backend:
  name: git-gateway
  branch: main

media_folder: "static/images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "portfolio"
    label: "Portfolio"
    folder: "content/portfolio"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Featured Image", name: "image", widget: "image" }
      - { label: "Category", name: "category", widget: "select", options: ["T-shirt Design", "Logo Design", "Brand Identity", "Social Media", "Print Design"] }
      - { label: "Description", name: "body", widget: "markdown" }
      - { label: "Tags", name: "tags", widget: "list", default: ["design"] }